@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin button($bg, $color: white) {
  padding: 7px;
  color: $color;
  background-color: $bg;
  border: 1px solid $bg;
  border-radius: 15px;
  transition: background-color 0.2s ease;
}
