$color-green: #71c9ce;
$color-grey: #636161d3;
$color-grey-light: #f6f6f6;
$color-orange: #e8a87c;
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$font-heading: 'Montserrat', sans-serif;
$font-size-base: 16px;
$font-size-sm: 14px;
$font-size-lg: 18px;
$h1-size: 48px;
$h2-size: 36px;
$h3-size: 28px;
$h4-size: 22px;
$h5-size: 18px;
$h6-size: 16px;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
